.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;}
.footer img{
  height: 60px;
  padding: 10px;}
.footer .redes{
display: flex;
flex-direction: column;
align-items: flex-start;}
.footer a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
text-decoration: none;
color: #000;cursor: pointer;}
.footer a:hover{color: #ec278f;}
.footer .redes img{ height: 40px;}